html {
    --primarycolor: #2b000d;
    --secondarycolor: var(--color10);
    --primarybg: #F7F8F3;
    --secondarybg: #F0F2E8;
    --primarybgtransparent: rgba(247, 248, 243, 0.7);
    --secondarybgtransparent: rgba(240, 242, 232, 0.7);
    --boxshadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    --boxshadowhard: 3px 2px 0 #000000;

    --color1: #F7F8F3;
    --color2: #E8C4AE;
    --color3: #D5857E;
    --color4: #C18561;
    --color5: #DAB37C;
    --color6: #FAE6AB;
    --color7: #CDCB98;
    --color8: #72845E;
    --color9: #A9C8C3;
    --color10: #5E7E7B;
    --color11: #5075A9;
    --color12: #C7C5DA;
}
html[data-theme='dark'] {
    --primarycolor: #FFFFFF;
    --secondarycolor: var(--color6);
    --primarybg: #5B5B5B;
    --secondarybg: #2E2E2E;
    --primarybgtransparent: rgba(91, 91, 91, 0.7);
    --secondarybgtransparent: rgba(46, 46, 46, 0.7);
    --boxshadow: none;
    --boxshadowhard: 3px 2px 0 #FFFFFF;

    --color1: #151515;
    --color2: #BE7E74;
    --color3: #A54554;
    --color4: #754E48;
    --color5: #A36A4D;
    --color6: #E2A260;
    --color7: #93886C;
    --color8: #434733;
    --color9: #6AA08A;
    --color10: #32433E;
    --color11: #305164;
    --color12: #868DB2;
}