html {
    --primarycolor: #2b000d;
    --secondarycolor: #ff0051;
    --primarybg: #FFFFFF;
    --secondarybg: #bebebe;
    --boxshadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}
html[data-theme='dark'] {
    --primarycolor: #FFFFFF;
    --secondarycolor: #00FFAE;
    --primarybg: #414141;
    --secondarybg: #1a1a1a;
    box-shadow: none;
}