.cvcontent {
    padding: 0 21vw 0;
    background-image: url(/images/giraffedots.svg) !important;
    background-size: cover !important;
    background-attachment: fixed !important;

    & .personalia {
        background: var(--color3);
        width: 50%;
        padding: 3vw 5vw 4vw;
        box-sizing: border-box;
    }
    & .imagecontainer {
        background: var(--color3);
        width: 50%;
        padding: 3vw 5vw 4vw;
        box-sizing: border-box;
    }
    & .cvimage {
        max-width: 100%;
        height: auto;
        box-shadow: var(--boxshadowhard);
        animation: morphing 10s ease-in-out infinite;
    }
    & .experienceandcompetences {
        width: 100%;
        padding: 3vw 5vw 4vw;
        box-sizing: border-box;
        &.aboutme {
            background: var(--color2);
        }
        &.education {
            background: var(--color7);
        }
        &.workexperience {
            background: var(--color9);
        }
        &.competences {
            background: var(--color5);
        }
        &.languages {
            background: var(--color12);
        }
    }
}

@media (max-width: 1400px) {
    .cvcontent {
        padding: 0 13vw 0;
    }
}
@media (max-width: 1280px) {
    .cvcontent {
        padding: 0 8vw 0;
    }
}
@media (max-width: 767px) {
    .cvcontent {
        padding: 0 5vw 0;
    }
}
@media (max-width: 480px) {
    .cvcontent {
        padding: 0 0 0;

        & .imagecontainer {
            background: transparent;
            width: 100%;
            order: 1;
        }
        & .personalia {
            width: 100%;
            order: 2;
        }
        & .experienceandcompetences {
            order: 3;
        }
    }
}