.designcontent {
    & .divider {
        width: 100%;
        padding: 3vw 13vw 4vw;
        box-sizing: border-box;
        display: flex;

        & .withborder {
            border: 1px dashed var(--primarycolor);
            box-sizing: border-box;
            padding: 0 0.5em;
            margin: 1em 0;
        }

        &.section1 {
            flex-direction: column;
            background: var(--secondarybg);

            & .explanation {
                width: 100%;
            }
            & .images {
                width: 100%;
                display: flex;
                flex-direction: column;

                & .single {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        &.section2 {
            flex-direction: column;
            background: #262626;
            
            & .explanation {
                width: 100%;

                & .child {
                    color: #FFFFFF;
                    border-color: #FFFFFF;
                }
                &.withborder {
                    border: 1px dashed #FFFFFF;
                    box-sizing: border-box;
                    padding: 0 0.5em;
                    margin: 1em 0;
                }
                
            }
            & .images {
                width: 100%;
                display: flex;
                flex-direction: column;

                & .single {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 1400px) {
    .designcontent {
        & .divider {
            padding: 3vw 8vw 4vw;
        }
    }
}
@media (max-width: 1280px) {
    .designcontent {
        & .divider {
            padding: 3vw 5vw 4vw;
        }
    }
}
@media (max-width: 767px) {
    .designcontent {
        & .divider {
            padding: 3vw 3vw 4vw;
        }
    }
}
@media (max-width: 480px) {
    .designcontent {
        & .divider {
            padding: 3vw 3vw 4vw;
        }
    }
}