.designcontent {
    & .divider {
        width: 100%;
        padding: 3vw 13vw 4vw;
        box-sizing: border-box;
        display: flex;

        & .withborder {
            border: 2px dashed var(--primarycolor);
            box-sizing: border-box;
            padding: 0 0.5em;
            margin: 1em 0;
        }

        &.section1 {
            flex-direction: column;
            background: var(--color9);

            & .explanation {
                width: 100%;
            }
            & .images {
                width: 100%;
                display: flex;
                flex-direction: column;

                & .single {
                    max-width: 100%;
                    height: auto;
                    margin-top: 1em;
                }
            }
        }
        &.section2 {
            flex-direction: column;
            background: var(--color10);
            
            & .explanation {
                width: 100%;

                & .child {
                    color: #FFFFFF;
                    border-color: #FFFFFF;
                }
                &.withborder {
                    border-color: #FFFFFF;
                }
                
            }
            & .images {
                width: 100%;

                & .single {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
        &.rowsections {
            flex-direction: row;
            
            & .explanation {
                width: 60%;
                margin-right: 1em;
            }
            & .images {
                width: 40%;

                & .single {
                    max-width: 100%;
                    height: auto;

                    &.carddeck {
                        animation: turnit 8s ease-in-out infinite;
                    }
                }
            }
        }
        &.section3 {background: var(--color12);}
        &.section4 {
            background: var(--color3);
            & .images {
                padding-left: 10%;
            }
        }
        &.section5 {
            background: var(--color2);
        }
        & .single {
            border-radius: 20px;
        }
        & .explanation {
            font-size: 18px;
        }
    }
}

@media (max-width: 1400px) {
    .designcontent {
        & .divider {
            padding: 3vw 8vw 4vw;
        }
    }
}
@media (max-width: 1280px) {
    .designcontent {
        & .divider {
            padding: 3vw 5vw 4vw;
            &.rowsections {
                flex-direction: column;
                & .explanation {
                    width: 100%;
                    margin-right: 0;
                }
                & .images {
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    & .single {
                        max-width: 50%;
                        min-width: 375px;
                    }
                }
            }
            &.section4 {
                & .images {
                    padding-left: 0;
                    padding-top: 3em;
                    padding-bottom: 3em;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .designcontent {
        & .divider {
            padding: 3vw 3vw 4vw;
        }
    }
}
@media (max-width: 480px) {
    .designcontent {
        & .divider {
            padding: 3vw 3vw 4vw;
        }
    }
}