.header {
    @include flexCenter(column);
    justify-content: space-between;
    position: absolute;
    height: 8vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: var(--primarybgtransparent);
    box-sizing: border-box;
    transition: height 0.6s ease-out;
    box-shadow: var(--boxshadow);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);

    & .darktogglecontainer {
        position: absolute;
        top: 16px;
        right: 16px;

        & .darktoggle {
            position: relative;
            cursor: pointer;

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 32px;
                height: 22px;
                top: 0;
                right: 0;
                border: 2px solid var(--secondarycolor);
                border-radius: 16px;
                background-color: var(--primarybg);
                transform: translate(8px, -8px);
                transition: all 0.3s ease;
            }
            /* &:checked:before {
                
            } */
            &:after {
                content: "\f185";
                font-family: "Font Awesome 6 Free";
                font-weight: 900;
                color: var(--secondarycolor);
                font-size: 10;
                display: block;
                width: 10px;
                height: 10px;
                position: absolute;
                top: 5px;
                right: 22px;
                border-radius: 50%;
                transition: all 0.3s ease;
                transform: translate(8px, -8px);
            }
            &:checked:after {
                content: "\f186";
                right: 8px;
            }
            
        }
    }

    & .superheader {
        font-size : clamp(2.5rem, -0.875rem + 8.333vw, 3.5rem);
        font-weight: 600;
    }
    & .supersubheader {
        font-size : clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
        white-space: nowrap;
        font-weight: 200;
    }
    & .headertext {
        overflow: hidden;  /* Hide the element content, while height = 0 */
        height: 0;
        opacity: 0;
        transition: all 0s;
        color: var(--primarycolor);
    }

    &:hover {
        height: 30vh;
        & .headertext {
            height: auto; 
            opacity: 1;
            transition: height 0ms 0.5s, opacity 0.6s 0.5s;
        }
    }
}
.navigationmenu {
    @include flexCenter(row);
    width: 100%;
    justify-content: space-evenly;
    padding-bottom: 8px;

    div {
        font-size : clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
        color: var(--primarycolor);
        font-weight: 300;
        transition: 0.15s ease-out;

        &:hover {
            color: var(--secondarycolor);
            cursor: pointer;
            transform: scale(1.1);
        }
        &.hassubmenu {
            @include flexCenter(row);
            gap: 8px;
            position: relative;

            & .submenu {
                @include flexCenter(column);
                display: none;
                position: absolute;
                top: clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
                right: 0;
                height: fit-content;
                width: fit-content;
                background: var(--primarybg);
                padding: 8px 16px;
                margin-top: calc(0.21rem + 0.19vw);
                white-space: nowrap;
                box-shadow: var(--boxshadow);
            }
            & .togglearrow {
                transition: transform 0.3s ease-out, color 0.15s ease-out;
                color: var(--primarycolor);
            }
            &:hover {
                & .togglearrow {
                    transform: rotate(90deg);
                    color: var(--secondarycolor);
                }
                & .submenu {
                    display: flex;
                }
            }

        }
    }
}