.header {
    @include flexCenter(column);
    height: 30vh;
    width: 100vw;
    box-sizing: border-box;
}
.navigationmenu {
    @include flexCenter(row);
    width: 100%;
    justify-content: space-evenly;

    div {
        text-transform: capitalize;
        color: $primary;

        &:hover {
            color: $secondary;
            cursor: pointer;
        }
        &.hassubmenu {
            @include flexCenter(row);
            gap: 8px;
            position: relative;

            & .submenu {
                @include flexCenter(column);
                display: none;
                position: absolute;
                top: 15px;
                left: 0;
                height: fit-content;
                width: fit-content;
                border: 1px solid grey;
                padding: 8px;
                white-space: nowrap;
                
            }
            &:hover {
                & .togglearrow {
                    transform: rotate(90deg);
                }
                & .submenu {
                    display: flex;
                }
            }

        }
    }
}