.header {
    @include flexCenter(column);
    justify-content: space-between;
    position: relative;
    height: 30vh;
    width: 100vw;
    box-sizing: border-box;

    & .darktogglecontainer {
        position: absolute;
        top: 8px;
        right: 8px;

        & .darktoggle {
            position: relative;
            cursor: pointer;

            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 32px;
                height: 16px;
                top: 0;
                right: 0;
                border: 2px solid lightseagreen;
                border-radius: 3px;
                background-color: #FFFFFF;
                transition: all 0.3s ease;
            }
            &:checked:before {
                background-color: #FFFFFF;
            }
            &:after {
                content: "";
                display: block;
                width: 10px;
                height: 10px;
                background-color: lightseagreen;
                position: absolute;
                top: 5px;
                right: 22px;
                border-radius: 50%;
                transition: all 0.3s ease;
            }
            &:checked:after {
                right: 5px;
            }
            
        }
    }

    & .superheader {
        font-size : clamp(2.5rem, -0.875rem + 8.333vw, 3.5rem);
    }
    & .supersubheader {
        font-size : clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
        white-space: nowrap;
    }
}
.navigationmenu {
    @include flexCenter(row);
    width: 100%;
    justify-content: space-evenly;

    div {
        font-size : clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
        color: $primary;

        &:hover {
            color: $secondary;
            cursor: pointer;
        }
        &.hassubmenu {
            @include flexCenter(row);
            gap: 8px;
            position: relative;

            & .submenu {
                @include flexCenter(column);
                display: none;
                position: absolute;
                top: clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
                right: 0;
                height: fit-content;
                width: fit-content;
                background: white;
                padding: 8px;
                margin-top: calc(0.21rem + 0.19vw);
                white-space: nowrap;
                
            }
            &:hover {
                & .togglearrow {
                    transform: rotate(90deg);
                }
                & .submenu {
                    display: flex;
                }
            }

        }
    }
}