@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 8vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: #FFFFFF;
  box-sizing: border-box;
  transition: height 0.6s ease-out;
  box-shadow: 5px 5px 10px rgba(190, 190, 190, 0.3);
}
.header .darktogglecontainer {
  position: absolute;
  top: 16px;
  right: 16px;
}
.header .darktogglecontainer .darktoggle {
  position: relative;
  cursor: pointer;
}
.header .darktogglecontainer .darktoggle:before {
  content: "";
  display: block;
  position: absolute;
  width: 32px;
  height: 22px;
  top: 0;
  right: 0;
  border: 2px solid #740025;
  border-radius: 16px;
  background-color: #FFFFFF;
  transform: translate(8px, -8px);
  transition: all 0.3s ease;
}
.header .darktogglecontainer .darktoggle:checked:before {
  background-color: #FFFFFF;
  border-color: #ff0051;
}
.header .darktogglecontainer .darktoggle:after {
  content: "\f185";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  color: #740025;
  font-size: 10;
  display: block;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 5px;
  right: 22px;
  border-radius: 50%;
  transition: all 0.3s ease;
  transform: translate(8px, -8px);
}
.header .darktogglecontainer .darktoggle:checked:after {
  content: "\f186";
  right: 8px;
  color: #ff0051;
}
.header .superheader {
  font-size: clamp(2.5rem, -0.875rem + 8.333vw, 3.5rem);
  font-weight: 600;
}
.header .supersubheader {
  font-size: clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
  white-space: nowrap;
  font-weight: 200;
}
.header .headertext {
  overflow: hidden; /* Hide the element content, while height = 0 */
  height: 0;
  opacity: 0;
  transition: all 0s;
}
.header:hover {
  height: 30vh;
}
.header:hover .headertext {
  height: auto;
  opacity: 1;
  transition: height 0ms 0.5s, opacity 0.6s 0.5s;
}

.navigationmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 8px;
}
.navigationmenu div {
  font-size: clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
  color: #740025;
  font-weight: 300;
  transition: 0.15s ease-out;
}
.navigationmenu div:hover {
  color: #ff0051;
  cursor: pointer;
  transform: scale(1.1);
}
.navigationmenu div.hassubmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 8px;
  position: relative;
}
.navigationmenu div.hassubmenu .submenu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
  position: absolute;
  top: clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
  right: 0;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background: white;
  padding: 8px 16px;
  margin-top: calc(0.21rem + 0.19vw);
  white-space: nowrap;
  box-shadow: 5px 5px 10px rgba(190, 190, 190, 0.3);
}
.navigationmenu div.hassubmenu .togglearrow {
  transition: transform 0.3s ease-out, color 0.15s ease-out;
  color: #740025;
}
.navigationmenu div.hassubmenu:hover .togglearrow {
  transform: rotate(90deg);
  color: #ff0051;
}
.navigationmenu div.hassubmenu:hover .submenu {
  display: flex;
}

/* wrighting a comment */
body {
  margin: 0;
}

* {
  font-family: "Outfit", Arial, sans-serif;
  font-size: 16px;
}

.content {
  height: 100vh;
  width: 100vw;
  background: #bebebe;
}

h1 {
  color: #740025;
}
h1:hover {
  color: #ff0051;
}/*# sourceMappingURL=style.css.map */