@import "./colorpalette";
@import "./mixins";
@import "./navigation";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

// use @extend h1; inside tag to include another ones style
/* wrighting a comment */
/* shift alt a */
body {
    margin: 0;
}
* {
    font-family: 'Outfit', Arial, sans-serif;
    font-size: 16px;
}
h1 {
    font-size : clamp(0.76rem + 20px, -0.136rem + 3.205vw + 20px, 1.14rem + 20px);
}
h2 {
    font-size : clamp(0.76rem + 15px, -0.136rem + 3.205vw + 15px, 1.14rem + 15px);
}
h3 {
    font-size : clamp(0.76rem + 10px, -0.136rem + 3.205vw + 10px, 1.14rem + 10px);
}
h4 {
    font-size : clamp(0.76rem + 5px, -0.136rem + 3.205vw + 5px, 1.14rem + 5px);
}
p, b {
    font-size : clamp(0.96rem, -0.336rem + 3.205vw, 1.34rem);
}
.content {
    height: 100vh;
    width: 100vw;
    background: var(--secondarybg);
    box-sizing: border-box;
    padding: 9vh 21vw 2vh;
    overflow-y: auto;
}
.cvcontent {
    width: 100%;
    border: 1px solid grey;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.personalia {
    width: 60%;
}
.imagecontainer {
    width: 40%;
}
.cvimage {
    max-width: 100%;
    height: auto;
}
.experienceandcompetences {
    width: 100%;
    
}
@media (max-width: 1400px) {
    .content {
        padding: 9vh 13vw 2vh;
    }
}
@media (max-width: 1280px) {
    .content {
        padding: 9vh 8vw 2vh;
    }
}
@media (max-width: 767px) {
    .content {
        padding: 9vh 5vw 2vh;
    }
}
@media (max-width: 480px) {
    .content {
        padding: 9vh 3vw 2vh;
    }
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}