@import "./colorpalette";
@import "./mixins";
@import "./keyframes";
@import "./navigation";
@import "./cvstyle";
@import "./designstyle";
@import "./graphicstyle";
@import "./anistyle";
@import "./illustyle";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


// use @extend h1; inside tag to include another ones style
/* wrighting a comment */
/* shift alt a */
body {
    margin: 0;
}
* {
    font-family: 'Outfit', Arial, sans-serif;
}
*:not(h1, h2, h3, h4, h6, p, b) {
    font-size: 16px;
}
.content {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: var(--secondarybg);
    box-sizing: border-box;
    padding: 70px 0 0;
    overflow-y: auto;
}
.innercontent {
    background: var(--secondarybg);
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    & *:not(h1) {
        color: var(--primarycolor);
    }

    & h1 {
        font-weight: 900;
        font-size: 5em;
        margin: 0;
        color: var(--color1);
        text-shadow: var(--boxshadowhard);
    }
    & h2, h3, h4 {
        font-weight: 700;
        border-bottom: 2px dashed var(--primarycolor);
    }
    & b {
        font-weight: 600;
    }
    & p {
        font-weight: 300;
    }
}
.footer {
    @include flexCenter(row);
    height: 5vh;
    width: 100%;
    box-sizing: border-box;
    color: var(--secondarycolor);
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.18) !important;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2) !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}