@import "./colorpalette";
@import "./mixins";
@import "./keyframes";
@import "./navigation";
@import "./cvstyle";
@import "./designstyle";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');


// use @extend h1; inside tag to include another ones style
/* wrighting a comment */
/* shift alt a */
body {
    margin: 0;
}
* {
    font-family: 'Outfit', Arial, sans-serif;
}
*:not(h1, h2, h3, h4, h6, p, b) {
    font-size: 16px;
}
.content {
    height: 100vh;
    width: 100vw;
    background: var(--secondarybg);
    box-sizing: border-box;
    padding: 70px 0 0;
    overflow-y: auto;
}
.footer {
    @include flexCenter(row);
    height: 5vh;
    width: 100%;
    box-sizing: border-box;
    color: var(--secondarycolor);
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}